<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%blue(%date) %red(%thread) %green(%level) [%cyan(%logger{10}):%magenta(%line)] %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

<!--    DISABLED INTENTIONALLY FOR TESTS-->
    <logger name="com.svydovets.bibirnate.cache.key.factory.KeyParamFactory" level="OFF"/>
    <logger name="com.svydovets.bibirnate.cache.Cache" level="OFF"/>
    <logger name="com.svydovets.bibirnate.cache.CacheUtils" level="OFF"/>
</configuration>